body {
  background-image: url("../img/sexy.jpg");
  background-size:auto;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック','Yu Gothic','メイリオ','ＭＳ Ｐゴシック','MS PGothic';
  height: 100%;
  margin: 0;
}



.title{
  width: 600px;
  padding:20px;
  margin: 200px auto 30px auto;
  text-align: center;
}

.title h1{
  font-size: 60px;
}

.title p{
  font-size: 30px;
}

.slot {
  width: 600px;
  padding: 20px;
  background: #ecf0f1;
  border: 5px solid #fff;
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden;
}

#comment{
  width: 600px;
  padding: 20px;
  background: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  margin: 20px auto;
  overflow: hidden;
}

#comment .topic{
    font-size: 2em;
    background: 	#FF99FF;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
}

#comment .exam{
  padding: 15px 20px;
  font-size: 2em;
}



.panel{
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;

}

.panel p{
  text-align: center;
}

#spin {
  cursor: pointer;
  width: 280px;
  height: 60px;
  background: pink;
  box-shadow: 0 3px 0 #FF66FF;
  border-radius: 20px;
  line-height: 35px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  user-select: none;
  padding: 20px 0 0 0;
  margin:auto;
}

.box {
	display: inline-block;
}


.unmatched {
  opacity: 0.2;
  color:red;
}

.inactive {

}

.hide {
  display:none;
}

.main{
  min-height: 100%;
}

.content{
  padding: 20px;
  padding-bottom: 50px;
}

footer{
  position: absolute;
  width: 100%;
  height:100px;
	bottom:0px;
	text-align:center;
	background-color: #FFCCCC;
	padding:10px;
	color:darkgrey;
	text-align: center;
}
	.footer-menus{
		margin:10px auto;
  }
	.footer-menus li{
	/* display: inline-block; */

  list-style-type: none;
	transition:1.0s;
	font-size:30px;
	line-height:40px;
  padding:5px;
}



/* ▼PC用デザインとして付け足すデザイン ================================ */
@media all and (min-width:920px){

}
