body {
  background-image: url("../img/sexy.jpg");
  background-size:auto;
}



.title{
  width: 600px;
  padding:20px;
  margin: 200px auto 30px auto;
  text-align: center;
}

.title h1{
  font-size: 60px;
}

.title p{
  font-size: 30px;
}

.slot {
  width: 600px;
  padding: 20px;
  background: #ecf0f1;
  border: 5px solid #fff;
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden;
}

.panel{
  cursor: pointer;
  font-size: 40px;
  font-weight: bold;
  font-family: Arial, sans-serif;

}

.panel p{
  text-align: center;
}

#spin {
  cursor: pointer;
  width: 280px;
  height: 60px;
  background: #3498db;
  box-shadow: 0 3px 0 #2880b9;
  border-radius: 20px;
  line-height: 35px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  user-select: none;
  padding: 20px 0 0 0;
  margin:auto;
}


.unmatched {
  opacity: 0.2;
  color:red;
}

.inactive {
  opacity: 0.5;
}

.hide {
  display:none;
}
